


.post {
    padding: 10px;
    color: black;
    max-width: 600px;
    min-width: 550px;
    min-height: 200px;
    overflow: auto;
    max-height: 600px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    background: rgb(161, 188, 211);
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    border-radius: 10px;   
}